.login {
    background: #FFFAF0;
    height: 700px;
    max-width: 100%;
}

.login__title {
    text-align: center;
    padding: 50px 0 20px 0;
}

.login__title-text {
    text-decoration: none;
    font-size: 20px;
    font-family: "游明朝", YuMincho,
        "ヒラギノ明朝 ProN W3",
        "Hiragino Mincho ProN",
        "MS P明朝",
        "MS PMincho",
        serif;
    font-weight: bold;
    color: #8B4513;
}

.form {
    margin: 0 auto;
    background: white;
    height: 350px;
    max-width: 500px;
    text-align: center;
    border: 0.3px solid;
    border-radius: 3px;
    border-color: gainsboro;
    padding: 40px 0;
}

.login__form {
    margin: 40px 0 0 0;
}

.login__form-title {
    text-align: left;
    margin-left: 90px;
}

.login__form-item {
    color: #8B4513;
}

.login__form-input {
    text-align: left;
    margin-left: 90px;

}

.login__form-input--text {
    text-align: left;
    width: 300px;
    height: 30px;
    background: #F5F5F5;
    border-radius: 3px;
    border: none;
}

.form__error {
    color: red;
    font-size: 13px;
    text-align: left;
    margin-left: 90px;
}

.button {
    margin-top: 25px;

}

.login__form-button {
    height: 30px;
    width: 100px;
    border-radius: 3px;
    background: #8B4513;
    color: white;
    border: none;
}